body {
  height: 3000px;
}

p {
  margin: 0;
  font-family: Arial;
}

.div {
  background-color: green;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  margin-bottom: 15px;
}