body {
  text-align: center;
  font-family: Montserrat;
}

p {
  margin: 0;
}

.header {
  font-weight: bold;
  font-size: 48px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.subheading {
  font-size: 22px;
}

.underline {
  text-decoration: underline;
}